<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Bar</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    {%csrf_token%}
    {{reg_form.as_p}}
</body>
<script>
    $('form').submit(function(e){
        e.preventDefault()
        $.ajax({
            url: '/posts',
            method: 'post',
            data: $(this).serialize(),
            success: function(serverResponse){
                $('.posts').html(serverResponse)
            }
        })
        $(this).trigger('reset')
    })
</script>
</html>