<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Class Based Forms</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <h1>Users</h1>
    <table>
        <thead>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
        </thead>
        <tbody>
            <div class="users">
                {%for user in users%}
                <tr>
                    <td>{{user.first_name}}</td>
                    <td>{{user.last_name}}</td>
                    <td>{{user.email}}</td>
                </tr>
                {%endfor%}
            </div>
        </tbody>
    </table>
    <form action="process" method="post">
        {% csrf_token %}
        {{reg_form.as_p}}
        <input type="submit">
    </form>
    {%if form%}
        {%for field in form%}
            {%for error in field.errors%}
                <p>{{error}}</p>
            {%endfor%}
        {%endfor%}
    {%endif%}
</body>
<script>
    $('form').submit(e => {
        console.log("Hello There!")
        e.preventDefault();
        $.ajax({
            url: '/process',
            method: 'post',
            data: {content: $(this).serialize(), csrfmiddlewaretoken: '{{ csrf_token }}'},
            success: serverResponse => {
                $('users').html(serverResponse)
            }
        });
        $(this).trigger('reset');
    });
    
</script>
</html>