<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%load static%}
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <title>Document</title>
</head>
<body>
    <h1>This is the index page!</h1>
    <h2>{{name}} {{job}}</h2>
    <ul>
        {%for pet in pets%}
            <li>{{pet}}</li>
        {%endfor%}
    </ul>
    <form action="/users" method="post">
        {%csrf_token%}
        <label for="first_name">First Name: </label>
        <input type="text" name="first_name">

        <label for="last_name">Last Name: </label>
        <input type="text" name="last_name">

        <label for="password">Password: </label>
        <input type="text" name="password">

        <input type="submit" value="Submit Me!">
    </form>
</body>
</html>